* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	background-color:dimgray;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color:darkslategray;
	text-align: center;
	line-height: 1em;
}

#newTime {
	margin-top:30px;
}

#currentTime{
	margin-top:10px;
	margin-right:100px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#222;
  }
  ::-moz-placeholder { /* Firefox 19+ */
	color:#222;
  }
  :-ms-input-placeholder { /* IE 10+ */
	color:#222;
  }
  :-moz-placeholder { /* Firefox 18- */
	color:#222;
  }

.container {
	text-align:center;
}

@media screen and (max-width: 600px) {
	* {	
		font-size:0.9em;
	}
}